# Django aur Web Server
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn

# Database
dj-database-url
psycopg2-binary  # <-- Render par Postgres DB ke liye yeh zaroori hai
# mysqlclient    # <-- Yeh aapke local MySQL ke liye tha, Render par iski zaroorat nahi

# Media Files
Pillow           # <-- Profile Pics (ImageField) ke liye zaroori hai

# AI (LlamaIndex/Ollama)
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama

# Media Files (AWS S3 Storage ke liye)
django-storages
boto3
