# Django aur Web Server
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn

# Database
dj-database-url
psycopg2-binary  # <-- Render par Postgres DB ke liye yeh zaroori hai

# Media Files (Profile Pics/PDFs)
Pillow           # <-- Profile Pics (ImageField) ke liye zaroori hai
django-storages  # <-- AWS S3 par media save karne ke liye
boto3            # <-- AWS S3 se connect karne ke liye

# AI (LlamaIndex/Ollama)
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
